html {
  background-color: whitesmoke;
  font-family: georgia, ui-serif, serif;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.site-head {
  border-bottom: 5px solid #009ada;
  background-color: #0279ac;
  padding: 1rem;
}
a.site-head__brand {
  width: 270px;
}
.site-head__inner {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  align-items: center;
}
ul.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul.nav__list li {
  padding-inline-start: 1.5rem;
}
ul.nav__list li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: -apple-system, sans-serif;
  font-weight: 800;
  font-size: 1.1rem;
}
ol[class],
ul[class] {
  padding: 0;
  list-style: none;
}
main {
  padding: 5rem;
}

.donate,
.ride,
.about {
  max-width: 500px;
  margin-inline: auto;
}
.skip-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 99;
}

.skip-link:not(:focus),
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.progress {
  display: flex;
  flex-flow: wrap;
  padding-block-start: 3rem;
}

.progress-wrapper {
  width: 100%;
  order: 1;
}

.progress-bar-bg {
  display: flex;
  height: 1.7em;
  overflow: hidden;
  border-radius: 5em;
  background-color: #b4e6fc;
}

.progress-bar {
  display: flex;
  background-color: #009ada;
  /* align-content: space-between;
  flex-flow: row wrap;
  justify-content: space-between; */
  animation: progress-bar-anim 2s 1 forwards ease-in;
  -webkit-animation: progress-bar-anim 2s 1 forwards ease-in-out;
}

.raised,
.goal {
  width: 49%;
  display: inline-flex;
  margin: 0px;
}

.raised {
  order: 2;
}

.goal {
  order: 3;
  justify-content: flex-end;
}

p.raised,
p.goal {
  font-size: 0.7em;
  font-weight: 300;
  color: var(--yellow);
}

@-webkit-keyframes progress-bar-anim {
  0% {
    width: 0;
  }
}
@keyframes progress-bar-anim {
  0% {
    width: 0;
  }
}

@media only screen and (max-width: 641px) {
  .raised,
  .goal {
    text-align: center;
    width: 100%;
    display: flex;
  }
  .raised {
    order: 1;
    margin-bottom: 10px;
  }
  .goal {
    order: 3;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .raised,
  .goal {
    width: 100%;
    justify-content: center;
  }

  .progress-wrapper {
    order: 2;
  }

  p.raised,
  p.goal {
    font-size: 0.8em;
  }
}
