:root {
  color-scheme: light dark;
  --color-mode: 'light';
  --size-step-0: clamp(1rem, calc(0.91rem + 0.45vw), 1.25rem);
  --size-step-1: clamp(1.33rem, calc(1.11rem + 1.1vw), 1.94rem);
  --size-step-2: clamp(1.78rem, calc(1.33rem + 2.23vw), 3rem);
  --size-step-3: clamp(2.37rem, calc(1.54rem + 4.16vw), 4.66rem);
  --size-step-4: clamp(3.16rem, calc(1.68rem + 7.38vw), 7.22rem);
  --size-step-5: clamp(4.21rem, calc(1.67rem + 12.68vw), 11.18rem);
  --font-base: 'Inter', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --shadow-color: 0deg 0% 60%;
  --whitesmoke: whitesmoke;
  --lightest-blue: #b4e6fc;
  --dark-blue: #0279ac;
  --med-blue: #009ada;
  --med-gray: #4b4c4e;
  --white: #ffffff;
  --logo-grey: #787a7c;
  /* light mode */
  --logo-fill: var(--logo-grey);
  --background: var(--whitesmoke);
  --text-color: var(--med-gray);
  --button-bg: var(--dark-blue);
  --button-color: var(--white);
  --card-bg: var(--white);
  --card-border: var(--lightest-blue);
  --tab-bg: var(--white);
  --tab-color: var(--dark-blue);
  --tab-border: var(--dark-blue);
  --tab-border-bottom: var(--white);
  --heading-color: var(--dark-blue);
  /* shadows */
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light dark;
    --color-mode: 'dark';
    /* dark mode */
    --logo-fill: var(--whitesmoke);
    --background: #121212;
    --text-color: rgba(255, 255, 255, 0.87);
    --button-bg: var(--dark-blue);
    --button-color: var(--white);
    --card-bg: rgba(255, 255, 255, 0.12);
    --card-border: var(--lightest-blue);
    --tab-bg: var(--med-gray);
    --tab-color: var(--white);
    --tab-border: var(--lightest-blue);
    --tab-border-bottom: var(--med-gray);
    --heading-color: var(--lightest-blue);
    --shadow-elevation-low: none;
  }
}
html {
  background-color: var(--background);
  font-family: var(--font-base);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
main {
  width: min(60ch, 100vw - 2rem);
  margin-inline: auto;
  padding-block: min(5%, 5rem);
}
article:not(:first-of-type) {
  margin-block-start: min(3rem, 4vh);
}
article svg {
  padding: 3rem 3rem 2rem;
}
article svg.full-logo {
  padding-block-start: 1rem;
  padding-inline: 0;
}
section:not(:first-of-type),
.past-logo:not(:first-of-type),
.ride-feed:not(:first-of-type) {
  margin-block-start: min(1rem, 5vh);
}

p.subtitle {
  font-style: italic;
  margin-block-end: 0;
  font-size: clamp(0.7rem, calc(0.8rem + 0.8vw), 0.9rem);
}
.ride-body {
  padding-block-start: 1rem;
  display: grid;
  grid-template-columns: minmax(0, 45%) minmax(0, 1fr);
  align-content: center;
  overflow: auto;
}
.past-logo,
.ride-feed {
  box-shadow: var(--shadow-elevation-low);
  border-radius: 3rem;
  border: 1px solid var(--card-border);
  padding-block: clamp(1rem, 90%, 2.5rem);
  padding-inline: clamp(1.5rem, 90%, 2rem);
  background-color: var(--card-bg);
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-size: clamp(1rem, calc(0.91rem + 0.45vw), 1.25rem);
  line-height: 1.5;
  color: var(--text-color);
  margin-block-end: 1em;
}

ul.donor-list li {
  font-size: clamp(1rem, calc(0.91rem + 0.45vw), 1.25rem);
  line-height: 1.5;
  color: var();
  font-weight: 500;
}
h3 {
  font-size: var(--size-step-0);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--background);
  background-color: var(--text-color);
  width: fit-content;
  padding-inline: 1rem;
  border-radius: 3rem;
}
h2 {
  font-size: var(--size-step-1);
  font-weight: 800;
  color: var(--heading-color);
}
h1 {
  font-size: var(--size-step-2);
  font-family: var(--font-base);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--heading-color);
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.site-head {
  border-bottom: 5px solid var(--med-blue);
  background-color: var(--button-bg);
  padding: 1rem;
}
a.site-head__brand {
  width: 270px;
}
.site-head__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 1rem;
  align-items: center;
}
.full-logo-text {
  fill: var(--logo-fill);
}
ul.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul.nav__list li {
  padding-inline-start: 1.5rem;
}
ul.nav__list li a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-base);
  font-weight: 600;
  font-size: var(--size-step-0);
}
ol[class],
ul[class] {
  padding: 0;
  list-style: none;
}

.donate,
.ride,
.about {
  /* max-width: 60ch; */
  margin-inline: auto;
}
.skip-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 99;
}

.skip-link:not(:focus),
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.progress {
  display: flex;
  flex-flow: wrap;
  padding-block-start: min(5%, 3rem);
}

.progress-wrapper {
  width: 100%;
  order: 1;
}

.progress-bar-bg {
  display: flex;
  height: 2rem;
  overflow: hidden;
  border-radius: 5em;
  background-color: var(--lightest-blue);
}

.progress-bar {
  display: flex;
  background-color: var(--med-blue);
  /* align-content: space-between;
  flex-flow: row wrap;
  justify-content: space-between; */
  animation: progress-bar-anim 2s 1 forwards ease-in;
  -webkit-animation: progress-bar-anim 2s 1 forwards ease-in-out;
}

.raised,
.goal {
  width: 49%;
  display: inline-flex;
  margin: 0px;
}

.raised {
  order: 2;
}

.goal {
  order: 3;
  justify-content: flex-end;
}

p.raised,
p.goal {
  font-size: 0.8em;
  font-weight: 600;
  color: var(--text-color);
}

@-webkit-keyframes progress-bar-anim {
  0% {
    width: 0;
  }
}
@keyframes progress-bar-anim {
  0% {
    width: 0;
  }
}

@media only screen and (max-width: 641px) {
  .raised,
  .goal {
    text-align: center;
    width: 100%;
    display: flex;
  }
  .raised {
    order: 1;
    margin-bottom: 10px;
  }
  .goal {
    order: 3;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .raised,
  .goal {
    width: 100%;
    justify-content: center;
  }

  .progress-wrapper {
    order: 2;
  }

  p.raised,
  p.goal {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 600px) {
  .site-head__inner {
    flex-direction: column;
    row-gap: 2rem;
  }
  ul.nav__list li {
    padding-inline: 2rem;
  }
  .ride-body {
    grid-template-columns: 1fr;
  }
}
footer {
  position: relative;
}
.footer-content {
  /* display: flex;
  justify-content: flex-end; */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer button.btn-toggle {
  background-color: var(--card-bg);
  border: none;
  color: var(--tab-color);
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  margin-inline-end: 10rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  font-size: clamp(0.9rem, calc(0.7rem + 0.3vw), 1rem);
  line-height: 1.5;
  border: 2px solid var(--tab-border);
  border-bottom: 3px solid var(--tab-border-bottom);
  transform: translateY(3px);
  z-index: 2;
  position: relative;
}

footer .btn-toggle::after {
  border: 0.35rem solid transparent;
  border-top-color: transparent;
  border-top-color: currentcolor;
  content: '';
  margin-inline-start: 0.5rem;
  transform: translateY(0.59rem);
}

footer section {
  min-width: 100%;
  border-block-start: 2px solid var(--tab-border);
  background-color: var(--card-bg);
  position: relative;
}
.button-container {
  display: flex;
  justify-content: end;
}

.hide {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}
.toggle-content p {
  width: min(60ch, 100vw - 2rem);
  margin-inline: auto;
  padding-block: min(2%, 2rem);
  color: var(--text-color);
}

#theme-switcher {
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  padding: 1rem;
}
#theme-switcher button {
  align-items: center;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  position: relative;
  min-width: 10%;
  background-color: var(--med-blue);
  color: var(--white);
  border: none;
}
#theme-switcher button:hover {
  opacity: 0.9;
  cursor: pointer;
}
#theme-switcher button[aria-pressed='true']::before {
  border: 0.35rem solid transparent;
  border-left-color: transparent;
  border-left-color: currentcolor;
  content: '';
  flex-grow: 0;
}
