html {
  background-color: whitesmoke;
  font-family: georgia, ui-serif, serif;
}
.site-head__inner {
  max-width: 275px;
}
.donate,
.ride,
.about {
  max-width: 500px;
  margin-inline: auto;
}
.skip-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 99;
}

.skip-link:not(:focus),
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.progress {
  display: flex;
  flex-flow: wrap;
}

.progress-wrapper {
  width: 100%;
  order: 1;
}

.progress-bar-bg {
  display: flex;
  height: 1.7em;
  overflow: hidden;
  border-radius: 5em;
  background-color: #b4e6fc;
}

.progress-bar {
  display: flex;
  background-color: #009ada;
  /* align-content: space-between;
  flex-flow: row wrap;
  justify-content: space-between; */
  animation: progress-bar-anim 2s 1 forwards ease-in;
  -webkit-animation: progress-bar-anim 2s 1 forwards ease-in-out;
}

.raised,
.goal {
  width: 49%;
  display: inline-flex;
  margin: 0px;
}

.raised {
  order: 2;
}

.goal {
  order: 3;
  justify-content: flex-end;
}

p.raised,
p.goal {
  font-size: 0.7em;
  font-weight: 300;
  color: var(--yellow);
}

@-webkit-keyframes progress-bar-anim {
  0% {
    width: 0;
  }
}
@keyframes progress-bar-anim {
  0% {
    width: 0;
  }
}

@media only screen and (max-width: 641px) {
  .raised,
  .goal {
    text-align: center;
    width: 100%;
    display: flex;
  }
  .raised {
    order: 1;
    margin-bottom: 10px;
  }
  .goal {
    order: 3;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .raised,
  .goal {
    width: 100%;
    justify-content: center;
  }

  .progress-wrapper {
    order: 2;
  }

  p.raised,
  p.goal {
    font-size: 0.8em;
  }
}
