<article class="about">
  <h1>{{ title }}</h1>
  <section>
    <h2>Me</h2>
    <p>
      I’m Eli. I am a Managing Director at Deloitte, a husband to Tracy and a
      dad to Ella and Clarissa. I love good coffee, geek out over design, and
      fuss over my small jungle of house plants (pandemic hobby persisting). I
      do this ride for my friends that suffer from MS. They are what started me
      down this path, and they are among those who benefit from the more than
      $65,000 that you have all helped me raise over the last 12 years.
    </p>
  </section>
  <section>
    <h2>Logo</h2>
    {% include "partials/full-logo.svg" %}
    <p>
      This year’<s></s> logo came right out of last year’s ride. On both day 1
      and day 2 we ride River Road in New Braunfels. It’s a curvy, winding,
      gorgeous road that crosses over and runs beside the Comal river. Little
      river-side tube rental places and restaurants pop up every mile or two,
      and trees overhang the road almost the whole way. It was my favorite part
      of the 2021 ride and I wanted to celebrate with my 2022 logo.
    </p>
  </section>

  <section>
    <h2>Past Logos</h2>
    <div class="logo-container">
      <div class="past-logo">
        <h3>2021</h3>
        {% include "partials/svgs/2021.html" %}
        <p>
          This was my first time doing the San Antonio to New Braunfels route.
          It’s a smaller ride than the Texas MS 150. The logo included some nods
          to San Antonio with the city’s official color palate and the
          quatrefoil shape from the Mission San Jose.
        </p>
      </div>
      <div class="past-logo">
        <h3>2020</h3>
        {% include "partials/svgs/2020.html" %}
        <p>
          We started training for the 2020 Texas MS 150 in January 2020. You
          know the rest of the story. By the middle of March we’d suspended
          training rides and by the beginning of April, the MS Society canceled
          all events to prepare for the pandemic. The need persisted, and you
          all still donated to the cause. I rode the miles, solo, in Austin. The
          logo was a simple play on 10, in my two favorite colors - orange and
          blue.
        </p>
      </div>
      <div class="past-logo">
        <h3>2019</h3>
        {% include "partials/svgs/2019.html" %}
        <p>
          2019 was the last “normal” BP MS 150 I rode. We started in Houston,
          rode to the fiar grounds at La Grange, stayed there for the night, and
          then made it the rest of the way back to Austin on Sunday. It was one
          of the best rides I remember, with amazing views from the Bastrop
          State Park, and perfect weather straight through. The logo started out
          in markers and made its way into Illustrator - moving forward through
          nine years of ending MS.
        </p>
      </div>
      <div class="past-logo">
        <h3>2018</h3>
        {% include "partials/svgs/2018.html" %}
        <p>
          Another perfect weekend. After years of finishing in downtown Austin
          in the shadow of the capital, development caught up with us, and the
          finish line was moved to the Circuit of the Americas. After a great
          celebration at the finish line, we trudged our way up the long hill to
          the parking lot. 2015, 2016 and 2017 all had some weather surprises,
          so the 2018 logo was a little bit of a plea for plenty of sunshine. It
          seems to have worked.
        </p>
      </div>
      <div class="past-logo">
        <h3>2017</h3>
        {% include "partials/svgs/2017.html" %}
        <p>
          2017 was a demonstration of the random swings of Texas weather. We
          ended day 1 at La Grange at 92 degrees and sunny. By the next morning,
          the rain was coming down in big drops and the temparture was hovering
          around 50 in the pre-dawn line up. As we rode, the day turned glorious
          and rolled downtown to a beautiful cool summer day. The logo is built
          with colors from a mid-century Herman Miller furniture catalog,
          layered into the spokes of a bike wheel. I was, still am, and always
          will be a fan of mid century furniture.
        </p>
      </div>
    </div>
  </section>
  <section>
    <p>
      <em>
        Check back soon for a trip way back in the archives for the 2010 to
        2016.</em
      >
    </p>
  </section>

  <section>
    <h2>Social Media</h2>
    <p>
      This year marks my first year off Facebook since I started training for
      this ride back in 2009. It’s been an adjustment, but I find I’m a happier
      person for the break. So there’s no Facebook fundraiser, and no link to
      provide here. That means all the fundraising that will happen, happens
      here. Let’s make it count!
    </p>
  </section>
</article>
